application/logs/*
!application/logs/index.html
lifevault_backup.sql
testdb.php
.env
compose.yml

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

.vscode/
node_modules/
vendor/