.contents{
  border: none;
  margin: 9px;
 
}
.doc-layout{
  display: flex;
 
}
.contents{
  flex: 1px;
  padding: 13px 21px;
}
.docs{
display: flex;
justify-content: space-between;
}
.text-docs h4{
  margin: 1px;
  font-size: 27px;

}
.text-docs p{
  font-size: 14px;
  margin: 7px 0px;
}
.container-button{
  margin: 3px -2px;
  border: none;
  border-style: ridge;
  width: 148px;
  height: 63px;
  border-radius: 11px;
  background: #0000ffde;


}
.document-upload{
  margin: 7px ;
  border: none;
}
.btn h4{
  margin: -7px -17px;
  font-size: 16px;
  color: white;
}
.btn span{
  font-size: 32px;
  margin: -16px 0px;
  color: white;
}
.dis{
  display: flex;
}


/* =====
search container */
.form-control{
  margin:9px 9px;
}
.flex{
  display: flex;
}
.search{
  margin: 9px -13px;
  height: 40px;

  
}
.btn-outline-success{
margin: 9px;
height: 50px;
}

/* ==========
ALL CATEGORIES */
.combine{
  display: flex;
  justify-content: space-between;
}

.all-category{
  margin: 9px 9px;

}
.selection{
  margin: 14px 10px;
  border-radius: 11px;
  font-size: 15px;
  border-style: dotted;
  width: 200px;
  height: 40px;
  background: blue;
}
.sort{
  border-radius: 11px;
  width: 218px;
  height: 40px;
  margin: 11px 6px;
  background: blue;
}

/* ===========
pdfs */
.pdf-card{
  min-height: 211px;

  border-style: solid;
  margin: 37px 0px;
  border-radius: 22px;

}
.pdf-doc{
  width: 19% !important;
  flex: 0 0 19%;

}
.middle-menu{
  display: flex;
  justify-content: end;
}


.middle-menu a{
  font-size: 12px;
  margin: 9px 9px;
}
.pdf{
  margin: -35px 70px;
  color: red;
}

.pdf i{
  font-size: 60px;
}
.text-field{
  margin: 40px 46px;
}
.text-field span{
  font-size: 16px;
  color: black;
}
.education{
  margin: -35px 43px;
}
.education span{
  font-size: 9px;
  background: #ffa5004d;
  padding: 6px 9px;
  border-radius: 11px;
}
.education p{
  font-size: 9px;
  margin: 13px 5px;
}
.education h6{
  font-size: 9px;
  margin: -9px 5px;
}