/* =========================
   GLOBAL
========================= */

*{
    margin: 1px;
   
    
    padding:3px;
    box-sizing:border-box;
}


body{

    background: rgba(255, 255, 255, 0.996);
    font-family:'Segoe UI', sans-serif;

}


/* =========================
   TOP HEADER
========================= */

.container-fluid{

    box-shadow:0 3px 10px rgba(14, 37, 215, 0.807);
    height: 93px;
    background: rgb(99, 99, 199);
    
}

/* ===================
FOR NAVBAR */
.navbar{
    padding: 0 30px;
    display: flex;
    border-style: outset;
    border-color: #140de6a8;
    align-items: center;
    justify-content: space-between;
    height: 86px;
    
}
/* =================
navbar logo */
.navbar-logo{
    font-size: 22px;
   margin-right: auto;
    color: blue;
   display: flex;
    gap: 10px;
    align-items: center;
}
.navbar-logo h4{
font-size: 22px;
margin: 0;

}

.navbar-menu{
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 60px;
    
   

}
.navbar-menu a{
    font-size: 22px;
    font-weight: 500;
    color: #140de6;
}
.navbar-menu a:hover{
    color:#000000;
    transform: translateY(-2px);
}


.container-fluid h1{

    font-size:40px;
    font-weight:300;
    
}
.header-title{
    color: #19a0d6;
}



/* =========================
   MAIN CARD
========================= */

.main-box{

    display:flex;
    border-style: hidden;
    border-color: #ff0018;

    width:100%;

    background:rgb(255, 255, 255);

    border-radius:15px;

    overflow:hidden;

    box-shadow:
    0 15px 40px rgba(255, 255, 255, 0.832);

}



/* =========================
   LEFT PANEL
========================= */


.container{

    width:100%;

    background:linear-gradient(
        358deg,
        #a0bfec,
        #ffffff
    );

    color:rgb(7, 7, 7);

    padding: 0px 8px;


}
.document-section{
  margin: 25px;
  padding: 0px 67px;

}
.container-document{
  background: #3f51b5c4;
  padding: 8px 1px; 

  margin: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.container-document i{
  font-size: 20px;
  justify-content: center;
  
  
  
  
  
}
.container-document h5{
  font-size: 23px;
  padding: 1px;
  gap: 10px;
  display: contents;
  color: white;
}
.container-document p{
  padding: 0px 31px;
  color: white;
}
.child-btn{
  justify-content: end;
  align-items: center;
  display: flex;
}
.child-div{
  align-items: center;
}
.child-div i{
display: flex;
align-items: center;
justify-content: center;
}
.child-btn:hover{
    background: #000000;
}
.child-btn a{
    font-size: 22px;
    font-weight: initial;
}


.document-supported{
    margin: 25px;
    padding: 0px 67px;
}


.container-file{
   
    margin: 3px;
    background-color: #ffffff;
    padding: 8px 1px;
    justify-content: space-between;
    align-items: center;

}
.child-file span{
    font-size: 19px;
    font-weight: 600;
    align-items: center;
    display: flex;
    justify-content: center;
}
.title-line{
    width: 70px;
    background-color: #000000;
    height: 1px;
    margin: auto;
    border-radius: 21px;
}

/* =======================
IMAGES AADHAR */




.doc-card img{
    width: 71px;
    height: 46px;
    background: white;
    border-radius: 10px;
    padding: 7px 6px;
   
    
    
}
.doc-card img:hover{
    background-color: #000000;
    
}

.doc-card i{
    font-size: 45px;
    margin:16px;
    display: inline;
    line-height: 1;
    justify-content: center;
    align-items: center;
    padding: 1px 80px;
  
    border-radius: 12px;
    color: #140de6;
    background-color: white;
    padding: 7px 6px;
    gap: 10px;
    

}
.doc-card{
justify-content: center;
align-items: center;
display: flex;
}
.doc-card i:hover{
    box-shadow: #000000;
  
}



/* ============================
FEATURE-ITEM FOR LEFT-PANEL */

.feature-item{
    padding: 1px;
    color: #140de6;
    display: flex;
    gap: 15px;
    align-items: center;
    border-radius: 12px;
    transition: 0.4s ease;
}
/* .feature-item h4{
    margin: 0;
} */
.feature-item:hover{
    background:#eef2ff;
    transform: translateX(8px);
}
.feature-item i{
transition: .3s;
}
.feature-item :hover i{
    transform: scale(1.15);
    color: #140de6;
}
.feature-item span{
    font-size: 18px;
}






/* ====================
LOGO FOR SHIELD LOCK */

.logo-item{
    padding: 1px;
    color: #140de6;
    display: flex;
    gap: 6px;
    align-items: center;
}
.logo-item h4{
    margin: 0;
    font-size: 19px;
}


/* ===================
PARAGRAPH  */
.paragraph-item h6{
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-family: "Inter",sans-serif;
    font-size: 22px;
   
   
}
/* ==================
email and password font size */

.col-md-6{
   width: 123%;
}

.fs-1{
    font-size: 1.5rem !important;
}
.h2,h2{
    font-size: 33px;
}

.document-section{
  margin: 25px;
}


/* ===================
FOOTER */
.footer-container{
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px 0;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 80px;
}
.footer-logo{
    font-size: 24px;
    color: blue;
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.footer-logo h4{
    font-size: 22px;
    margin: 0;
}
.footer-p{
    font-size: 15px;
    color: rgb(0, 0, 0);
    display: flex;
    margin-top: -2px;
    gap: 10px;
    align-items: center;
}

.footer-copyright{
    font-size: 14px;
    margin-top: -17px;
    color: #000000;
    display: flex;
    gap: 10px;
    align-items: center;
}




/* =========================
   FILE INPUT
========================= */


input[type=file]{


    color:rgb(255, 255, 255);

}



/* =========================
   MOBILE RESPONSIVE
========================= */


@media(max-width:768px){


.main-box{


    flex-direction:column;
    padding: 20px;

}


.left-panel,
.right-panel{


    width:100%;


}



.left-panel{


    text-align:center;


}



.right-panel{


    padding:25px;

}



}