/* =========================
   GLOBAL
========================= */

*{
    margin: 1px;
   
    
    padding:3px;
    box-sizing:border-box;
}


body{

    background: rgba(255, 255, 255, 0.996);
    font-family:'Segoe UI', sans-serif;

}


/* =========================
   TOP HEADER
========================= */


/* ===================
FOR NAVBAR */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 2rem;
    max-width: 1400px;
    margin: 0 auto;
    background: white;
    border-bottom: 1px solid #E5E7EB;
}
/* =================
navbar logo */
.navbar-logo{
    font-size: 23px;
   margin-right: auto;
    color: #0D1235;
   display: flex;
    gap: 10px;
    align-items: center;
}
.navbar-logo h4{
font-size: 23px;
margin: 0;
font-family: emoji;
color: #0D1235;
font-weight: 700;

}
.bg-light{
    background-color: #ffffff;
}

.navbar-menu{
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 15px;
    
   

}
.navbar-menu a{
    font-size: 17px;
    font-weight: 500;
    color: #0D1235;
    text-decoration: none;
}
.navbar-menu a:hover{
    background-color: #eff6ff;
    color: #2563eb;
    border-radius: 8px;
}
.navbar-menu a.active {
    background-color: #0D1235;
    color: white;
    border-radius: 22px;
    padding: 6px 14px;
     
}



.container-fluid h1{

    font-size:40px;
    font-weight:300;
    
}
.header-title{
    color: #19a0d6;
}



/* =========================
   MAIN CARD
========================= */
.page-1{
    display: flex;
}
.main-box{

    display:flex;

}



/* =========================
   LEFT PANEL
========================= */


.left-panel{

    width:50%;
    padding:23px 49px;
    background-color: #0D1235;
    border-radius: 4px;


}


.left-panel i{

    font-size:12px;
    color: #e1c45a;
    padding: 10px 2px;
  

   
}


.left-panel h2{

    

    font-size:30px;
    color: white;
    font-weight:700;

}


.left-panel p{

    margin-top:20px;

    font-size:16px;

    opacity:0.9;

}
.left-panel h1{
    font-size: 32px;
    
    font-family: emoji;
    color: #E8D59A;
}
.left-panel h4{
    color: #140de6;
}

/* ============================
FEATURE-ITEM FOR LEFT-PANEL */
.features-setup{
   padding: 0;
}




.feature-item{
    
    color: #cac9d7;
    display: flex;
    align-items: center;
    border-radius: 12px;
    transition: 0.4s ease;
    padding: 7px 0px;
}
/* .feature-item h4{
    margin: 0;
} */
/* .feature-item:hover{
    background:#eef2ff;
    transform: translateX(8px);
} */
.feature-item i{
transition: .3s;
color: #C6A64D;
background-color: #312B3B;
padding: 3px 11px;
border: 1px solid #5C4A28;
border-radius: 11px;
font-size: 19px;

}
.feature-item :hover i{
    transform: scale(1.15);
    color: #140de6;
}
.feature-item span{
    font-size: 18px;
    font-style: normal;
    padding: 6px 11px;
    color: white;
    background-color: none;
}





/* ====================
LOGO FOR SHIELD LOCK */

.logo-item{
    
    color: #140de6;
    display: flex;
    gap: 4px;
    align-items: center;
    background-color: #2B2946;
    padding: 0px 5px;
    margin: 41px 0px;
    width: 189px;
    border-radius: 26px;
    border: 1px solid #4A4768;
}
.logo-item h4{
    margin: 0;
    color: #F3EEDC;
    font-size: 15px;
}


/* ===================
PARAGRAPH  */
.paragraph-item h6{
    color: rgb(174,175,189);
    font-size: 23px;
    font-weight: 400;
    padding: 0px 0px;
   
   
}
/* ==================
email and password font size */

.col-md-6{
   
   padding: 0px 42px;
}






/* =========================
   RIGHT FORM
========================= */


.right-panel{

    width:48%;
    border-radius: 4px;
    display: flex;
    
    flex-direction: column;
    justify-content: flex-start;
    background: #f8f9fa;
    border: 2px solid #f1ecec;
    padding: 38px 40px;
    background-color: white;

    


   

    

}
/* ================
star icons */
.text-primary{
    
    
}
/* =====================
Forget link */
.forget-item
{
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    padding: 0px 56px;
    margin: 0 1px 15px;

    
}


.forget-item a{
    font-size: 14px;
    padding: 0px 10px;
    text-decoration: none;
    font-weight: 700;
}

/* ==============
heading welcome */

/* =================
login to access your vault */
.text-muted{
    font-size: 12px;
    padding: 0px 12px;
    
}



/* labels */

.form-label{

    font-weight:700;

    font-size:12px;

}




/* =========================
   INPUT DESIGN
========================= */


.form-control,
.form-select{


    
    font-size: 17px;

    border-radius:8px;

    border:none;

}
.form-control::placeholder{
    font-size: 15px;
}


.input-group-text{

    background: #efefef;
   

    color:rgb(7, 6, 6);

    border:none;
    font-size: 14px;

}
.input-group{
    margin: 0px;
    width: 100%;
    padding: 0px 0px;
    background-color: #F7F6F4;
    border: 2px solid #989191;
    border-radius: 10px;
}



/* input focus */

.form-control:focus,
.form-select:focus{


    border:2px solid #ff6500;

    box-shadow:none;

}




/* =========================
   BUTTON
========================= */


.btn-primary{


    background:#0D1235;
    font-size: 13px;

    border:none;
    

    padding:11px 203px;

    border-radius:8px;

    font-weight:600;

}
/* =====================
CONTINUE WITH GMAIL */
.google-btn{
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    padding: 11px 151px;
    background-color: transparent;
    border: 1px solid #ddd;
    color: #11142D;
    border-radius: 12px;
    
    
    
}



.google-btn span{
    font-size: 11px;
}


.google-btn:hover{
    background: #04040458;
}
/* ========================
DIVIDER FOR GMAIL */
.divider{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
.divider::before,
.divider::after{
    content: "";
    flex: 1;
    height: 1px;
    background: #dcdcdc;
}
.divider span{
    padding: 0 15px;
    font-size: 12px;
    color: #777;
}

/* =====================
Don't have an account */

.register-item{
    font-size: 15px;
    display: flex;
    justify-content: center;
    gap: 2px;
}
.register-item span{
    font-size: 14px;
    padding: 0px;
}
.register-item a{
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
    padding: 0;
}



.btn-primary:hover{


    background:#04040458;

}
.fs-1{
    font-size: 1.5rem !important;
}
.h2,h2{
    font-size: smaller;
    font-weight: 700 !important;
    font-family: emoji;
}
/* ===================
FOOTER */
.footer-home{
    padding: 12px 88px;
    background-color: #0B1628;
}

.project-name{
    color: white;
    
}
.project-name i{
    font-size: 23px;
    color:  #C9A227;
}
.project-p{
color: #8A9BB8;

}
.project-p p{
    font-size: 12px;
}
.project-name span{
    font-size: 23px;
    font-family: emoji;
}

.footer-complete{
    display: flex;
    justify-content: space-between;
    padding: 29px 0px;
}

.footer-column span{
    font-size: 17px;
    color: white;

}

.footer-column a{
    color: #8A9BB8;
    text-decoration: none;
    font-size: 17px;
}
.footer-column ul{
    list-style: none;
    padding: 0;
}
.footer-column li{
    padding: 0;
    margin: 12px 0px;
}

.footer-legal span{
    font-size: 17px;
    color: white;
}
.footer-legal ul{
    list-style: none;
    padding: 0;
}
.footer-legal li{
    padding: 0;
    margin: 12px 0px;
}
.footer-legal a{
     color: #8A9BB8;
    text-decoration: none;
    font-size: 17px;
}

.footer-line{
    color:  #8A9BB8;
    padding: 1px 6px;
}

/* =====
FOOTER COMPANY */

.footer-company span{
    
    font-size: 17px;
    color: white;
}

.footer-company ul{
    list-style: none;
    padding: 0;
}
.footer-company li{
    padding: 0;
    margin: 11px 0px;

}
.footer-company a{
     color: #8A9BB8;
    text-decoration: none;
    font-size: 17px;
}



/* ======
SOCIAL  */

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #29305F;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;

    transition: 0.3s ease;
}

.social-icon:hover {
    background-color:  #C9A227;
    transform: translateY(-3px);
}

.footer-reserved span{
    font-size: 14px;
    color: #8A9BB8;
}


/* ==============
FORGOT PASSWORD */

.forgot-modal{
    border: none;
    padding: 12px;
    background-color: #140de6;

}
.forgot-modal modal-tittle{
    color: #0D1235;
}

/* =========================
   FILE INPUT
========================= */


input[type=file]{


    color:rgb(255, 255, 255);

}
/* =====
SendResetLink */

.button{
    font-size: 11px;
}
.move a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 200;
}


/* =========================
   MOBILE RESPONSIVE
========================= */


@media(max-width:768px){


.main-box{


    flex-direction:column;
    padding: 20px;

}


.left-panel,
.right-panel{


    width:100%;


}



.left-panel{


    text-align:center;


}



.right-panel{


    padding:25px;

}



}