/* =========================
   GLOBAL
========================= */

*{
    margin: 1px;
   
    
    padding:3px;
    box-sizing:border-box;
}


body{

    background: rgba(255, 255, 255, 0.996);
    font-family:'Segoe UI', sans-serif;

}


/* =========================
   TOP HEADER
========================= */

.container-fluid{

    box-shadow:0 3px 10px rgba(14, 37, 215, 0.807);
    height: 93px;
    background: navy;
    
}

/* ===================
FOR NAVBAR */
.navbar{
    padding: 0 30px;
    display: flex;
    border-style: outset;
    border-color: #140de6a8;
    align-items: center;
    justify-content: space-between;
    height: 86px;
    
}
/* =================
navbar logo */
.navbar-logo{
    font-size: 22px;
   margin-right: auto;
    color: blue;
   display: flex;
    gap: 10px;
    align-items: center;
}
.navbar-logo h4{
font-size: 22px;
margin: 0;

}

.navbar-menu{
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 60px;
    
   

}
.navbar-menu a{
    font-size: 22px;
    font-weight: 500;
    color: #140de6;
}
.navbar-menu a:hover{
    color:#000000;
    transform: translateY(-2px);
}


.container-fluid h1{

    font-size:40px;
    font-weight:300;
    
}
.header-title{
    color: #19a0d6;
}



/* =========================
   MAIN CARD
========================= */

.main-box{

    display:flex;
    border-style: dashed;
    border-color: #ff0018;

    width:100%;

    background:rgb(255, 255, 255);

    border-radius:15px;

    overflow:hidden;

    box-shadow:
    0 15px 40px rgba(12, 69, 228, 0.832);

}



/* =========================
   LEFT PANEL
========================= */


.left-panel{

    width:60%;

    background:linear-gradient(
        180deg,
        #fd7e1457,
        #251ee15c
    );

    color:rgb(7, 7, 7);

    padding:70px 35px;


}


.left-panel i{

    font-size:24px;
    color:blue;
}


.left-panel h2{

    margin-top:40px;

    font-size:25px;

    font-weight:700;

}


.left-panel p{

    margin-top:20px;

    font-size:14px;

    opacity:0.9;
    color: black;

}
.left-panel h1{
    font-size: 24px;
    color: blue;
    font-weight: bold;
}
.left-panel h4{
    color: #000000;
    font-size: 12px;
}

/* ============================
FEATURE-ITEM FOR LEFT-PANEL */

.feature-item{
    padding: 1px;
    color: #140de6;
    display: flex;
    gap: 15px;
    align-items: center;
    border-radius: 12px;
    transition: 0.4s ease;
}
/* .feature-item h4{
    margin: 0;
} */
.feature-item:hover{
    background:#eef2ff;
    transform: translateX(8px);
}
.feature-item i{
transition: .3s;
color: darkslategrey;
}
.feature-item :hover i{
    transform: scale(1.15);
    color: #140de6;
}
.feature-item span{
    font-size: 18px;
}

.final{
    display: flex;
    justify-content: center;
}
  




.final i{
    font-size: 30px;
}
.final-sec{
    display: flex;
    justify-content: center;
}
.final-sec span{
    font-size: 30px;
    margin: -19px;
    transition:0.3s;
    transform: scale(1.15);
}
.final-sec:hover{
    background: white;
    transform: translateY(8px);
    padding: 12px;
}

/* ====
LINE */
.line{
    margin: 32px -33px;
    padding: 1px 2px;
}
.final-third{
    display: flex;
    justify-content: center;
}
.final-third i{
    font-size: 30px;
    margin: -9px;
}
.text{
    display: flex;
    justify-content: center;
}
.text span{
    font-size: 30px;

}
.final-fourth{
    display: flex;
    justify-content: center;
}
.final-fourth i{
    font-size: 30px;
}
.text-4{
    display: flex;
    justify-content: center;

}
.text-4 span{
    margin: -22px;
    font-size: 30px;

}






/* ====================
LOGO FOR SHIELD LOCK */

.logo-item{
    padding: 1px;
    color: #140de6;
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo-item h4{
    margin: 0;
    font-size: 17px;
}


/* ===================
PARAGRAPH  */
.paragraph-item h6{
    color: rgb(0, 0, 0);
    
    
    font-size: 24px;
   
   
}
/* ==================
email and password font size */

.col-md-6{
   width: 123%;
}






/* =========================
   RIGHT FORM
========================= */


.right-panel{

    width:50%;
    
    padding:40px;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    

    margin: 20px;
    border-style: dashed;
    border-color: #ff6500;

    background: #f8f9fa;

    color:rgb(6, 6, 6);

}
/* ================
star icons */
.text-primary{
    color: blue;
    font-size: 16px;
}
/* =====================
Forget link */
.forget-item
{
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
}


.forget-item a{
    font-size: 16px;
    padding-right: 1px;
}

/* ==============
heading welcome */
.text-center{
    margin-top: -40px;

}
/* =================
login to access your vault */
.text-muted{
    font-size: 12px;
    margin-top: -11px;
}



/* labels */

.form-label{

    font-weight:400;

    font-size:12px;

}




/* =========================
   INPUT DESIGN
========================= */


.form-control,
.form-select{


    height:50px;
    font-size: 17px;

    border-radius:8px;

    border:none;

}
.form-control::placeholder{
    font-size: 22px;
}


.input-group-text{

    background: white;
   

    color:rgb(7, 6, 6);

    border:none;
    size: 12px;

}
.input-group{
    margin: 1px;
    width: 423px;
}


/* input focus */

.form-control:focus,
.form-select:focus{


    border:2px solid #ff6500;

    box-shadow:none;

}




/* =========================
   BUTTON
========================= */


.btn-primary{


    background:#140de6;
    font-size: 11px;

    border:none;
    /* margin-bottom: -100px; */

    padding:11px 188px;

    border-radius:25px;

    font-weight:600;

}
/* =====================
CONTINUE WITH GMAIL */
.google-btn{
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    padding-right: 160px;
    background: #ffffff;
    border-radius: 25px;
    margin-top: -30px;
    padding-bottom: 10px;
    padding: 9px 126px;
    
}

.col-12{
    padding: 12px;
    text-align: center;
}
.google-btn:hover{
    background: #04040458;
}
/* ========================
DIVIDER FOR GMAIL */
.divider{
    display: flex;
    font-style: 12px;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
.divider::before,
.divider::after{
    content: "";
    flex: 1;
    height: 1px;
    background: #dcdcdc;
}
.divider span{
    padding: 0 15px;
    font-size: 12px;
    color: #777;
}

/* =====================
Don't have an account */

.register-item{
    font-size: 15px;
    padding-left: 168px;
}
.register-choose{
    font-size: 14px;
    padding-left: 210px;
    margin-top: -2px;
}



.btn-primary:hover{


    background:#04040458;

}
.fs-1{
    font-size: 1.5rem !important;
}
.h2,h2{
    font-size: 13px;
}


/* ===================
FOOTER */
.footer-container{
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px 0;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 80px;
}
.footer-logo{
    font-size: 24px;
    color: blue;
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.footer-logo h4{
    font-size: 22px;
    margin: 0;
}
.footer-p{
    font-size: 15px;
    color: rgb(0, 0, 0);
    display: flex;
    margin-top: -2px;
    gap: 10px;
    align-items: center;
}

.footer-copyright{
    font-size: 14px;
    margin-top: -17px;
    color: #000000;
    display: flex;
    gap: 10px;
    align-items: center;
}




/* =========================
   FILE INPUT
========================= */


input[type=file]{


    color:rgb(255, 255, 255);

}



/* =========================
   MOBILE RESPONSIVE
========================= */


@media(max-width:768px){


.main-box{


    flex-direction:column;
    padding: 20px;

}


.left-panel,
.right-panel{


    width:100%;


}



.left-panel{


    text-align:center;


}



.right-panel{


    padding:25px;

}



}