/* =========================
   GLOBAL
========================= */

*{
    margin: 1px;
   
    
    padding:3px;
    box-sizing:border-box;
}


body{

    background: rgba(255, 255, 255, 0.996);
    font-family:'Segoe UI', sans-serif;

}


/* =========================
   TOP HEADER
========================= */



/* ===================
FOR NAVBAR */
.navbar{
    
    display: flex;
    
    
    align-items: center;
    justify-content: space-between;
    padding: 0px 223px;
    background: white;
    border-bottom: 1px solid #E5E7EB;
    
}
/* =================
navbar logo */
.navbar-logo{
    font-size: 23px;
   margin-right: auto;
    color: #0D1235;
   display: flex;
    gap: 10px;
    align-items: center;
}
.navbar-logo h4{
font-size: 23px;
margin: 0;
font-family: emoji;
color: #0D1235;
font-weight: 700;

}
.bg-light{
    background-color: #ffffff;
}

.navbar-menu{
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 15px;
    
   

}
.navbar-menu a{
    font-size: 17px;
    font-weight: 500;
    color: #0D1235;
    text-decoration: none;
}
.navbar-menu a:hover{
    background-color: #eff6ff;
    color: #2563eb;
    border-radius: 8px;
}
.navbar-menu a.active {
    background-color: #0D1235;
    color: white;
    border-radius: 22px;
    padding: 6px 14px;
     
}






.container-fluid h1{

    font-size:40px;
    font-weight:300;
    
}
.header-title{
    color: #19a0d6;
}



/* =========================
   MAIN CARD
========================= */

.main-box{

    display:flex;
 
}



/* =========================
   LEFT PANEL
========================= */


.left-panel{

    width: 50%;

    background-color: #0D1235;


    padding: 23px 49px;
    border-radius: 4px;
   position: relative;


}


.left-panel i{


    
}


.left-panel h2{



    font-size: 30px;
    color: white;
    font-family: emoji;
    padding: 0px 6px;
    margin: 0;

}


.left-panel p{

    margin-top:20px;

    font-size:14px;

    opacity:0.9;
    color: black;

}
.left-panel h1{
    font-size: 27px;
    color: #F3EEDC;
    padding: 0px 5px;
    font-weight: bold;
}
.left-panel h4{
    color: #000000;
    font-size: 12px;
}

/* ============================
FEATURE-ITEM FOR LEFT-PANEL */


.features-view{
    padding: 10px 0px;
}

.feature-item{
    
    color: #140de6;
    display: flex;
    gap: 15px;
    align-items: center;
    border-radius: 12px;
    transition: 0.4s ease;
    padding: 8px 0px;
}
/* .feature-item h4{
    margin: 0;
} */

.feature-item i{
transition: .3s;
color: #C6A64D;
background-color: #312B3B;
padding: 3px 11px;
border: 1px solid #5C4A28;
border-radius: 11px;
}
.feature-item :hover i{
    transform: scale(1.15);
    color: #140de6;
}
.feature-item span{
    font-size: 18px;
    font-style: normal;
    padding: 12px 1px;
    color: white;
    
}
.feature-item p{
    font-size: 15px;
    color: #A8A7B8;
    margin: 0;

}



/* =======
secure */
.secure-line{
    position: absolute;
    bottom: 0;
    color:antiquewhite
}
.line{
    color: #A7A4AF;
    padding: 1px 0px;
    position: absolute;
    bottom: 127px;
    right: 85px;
    left: 85px;
}

.Secure-item{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 48px;
    right: 20px;
    left: 20px;

}
.Secure-item i{
    color: #C6A64D;
    font-size: 20px;
    border: 2px solid #5C4A28;
    border-radius: 23px 23px;
    padding: 5px 9px;

}
.Secure-item span{
    color: #ffffff;
    text-align: center;
}
.lock{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.files{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.clouds{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.final{
    display: flex;
    justify-content: center;
}


.final i{
    font-size: 30px;
}
.final-sec{
    display: flex;
    justify-content: center;
}
.final-sec span{
    font-size: 30px;
    margin: -19px;
    transition:0.3s;
    transform: scale(1.15);
}
.final-sec:hover{
    background: white;
    transform: translateY(8px);
    padding: 12px;
}

/* ====
LINE */
.line{
    margin: 32px -33px;
    padding: 1px 2px;
}
.final-third{
    display: flex;
    justify-content: center;
}
.final-third i{
    font-size: 30px;
    margin: -9px;
}
.text{
    display: flex;
    justify-content: center;
}
.text span{
    font-size: 30px;

}
.final-fourth{
    display: flex;
    justify-content: center;
}
.final-fourth i{
    font-size: 30px;
}
.text-4{
    display: flex;
    justify-content: center;

}
.text-4 span{
    margin: -22px;
    font-size: 30px;

}






/* ====================
LOGO FOR SHIELD LOCK */

.logo-item{
    
    display: flex;
    gap: 2px;
    align-items: center;
    margin: 0;
    padding: 16px 3px;
}
.logo-item i{
    font-size: 13px;
    color: #D4AF37;
}
.logo-item h4{
    margin: 0;
    font-size: 17px;
    color: #F3EEDC;
}


/* ===================
PARAGRAPH  */
.paragraph-item h6{
    
    
    color: #A8A7B8;

    font-size: 20px;
   
   
}
/* ==================
email and password font size */

/* .col-md-6{
   width: 123%;
} */





/* =========================
   RIGHT FORM
========================= */


.right-panel{

    width:50%;
    
    padding: 13px 50px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    

    border: 2px solid #f1ecec;

    background: white;

  

}
/* ================
star icons */
.text-primary{
    color: blue;
    font-size: 16px;
    display: contents;
}
/* =====================
Forget link */
.forget-item
{
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
}
.feature-line{
    padding:1px 1px;
    color: antiquewhite;
}
.feature-parent{
    display: flex;
    align-items: end;
}
.forget-item a{
    font-size: 16px;
    padding-right: 1px;
}

/* ==============
heading welcome */
.text-center{
    

}
/* =================
login to access your vault */
.text-muted{
    font-size: 12px;
    
}



/* labels */

.form-label{

    font-weight:700;
    display: flex;
    justify-content: normal;
    font-size:12px;

}




/* =========================
   INPUT DESIGN
========================= */


.form-control,
.form-select{


    
    font-size: 13px;

    border-radius:8px;
    padding: 11px 9px;
    border:none;
    background-color: #efefef;

}
.form-control::placeholder{
    font-size: 13px;
}


.input-group i{
    padding: 8px;
    margin: 0;
    background-color: #efefef;
    color: #A7A4AF;
    border-radius: 8px;

}
.input-group{
    margin: 1px;
    width: 100%;
}


/* input focus */

.form-control:focus,
.form-select:focus{


    border:2px solid #ff6500;

    box-shadow:none;

}


.parent-set{
    display: flex;
    justify-content: center;
}

/* =========================
   BUTTON
========================= */


.btn-primary{


    background-color: #0D1235;
    font-size: 15px;

    border:none;
    /* margin-bottom: -100px; */

    padding:11px 188px;

    border-radius:25px;
    margin: 13px 0px;
    font-weight:600;

}
/* =====================
CONTINUE WITH GMAIL */
.google-btn{
    font-size: 14px;
    color: #0D1235;
    font-weight: 600;
    text-align: center;
    padding-right: 160px;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding-bottom: 10px;
    padding: 9px 126px;
    margin: 13px 0px;
    
}

.col-12{
    padding: 10px 6px;
    text-align: center;
}
.google-btn:hover{
    background: #04040458;
}
/* ========================
DIVIDER FOR GMAIL */
.divider{
    display: flex;
    font-style: 12px;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
.divider::before,
.divider::after{
    content: "";
    flex: 1;
    height: 1px;
    background: #dcdcdc;
}
.divider span{
    padding: 0 15px;
    font-size: 12px;
    color: #777;
}

/* =====================
Don't have an account */

.register-item{
    font-size: 15px;
    display: flex;
    justify-content: center;
}
.register-item a{
     
    color: #0d6efd;
    text-decoration: none;
    font-weight: 700;
    padding: 2px 5px;
}



.btn-primary:hover{


    background:#04040458;

}
.fs-1{
    font-size: 1.5rem !important;
}
.h2,h2{
    font-size: 13px;
    margin: 0;
}


/* ===================
FOOTER */
.footer-home{
    padding: 12px 194px;
    background-color: #0B1628;
}

.project-name{
    color: white;
    
}
.project-name i{
    font-size: 23px;
    color:  #C9A227;
}
.project-p{
color: #8A9BB8;

}
.project-p p{
    font-size: 12px;
}
.project-name span{
    font-size: 23px;
    font-family: emoji;
}

.footer-complete{
    display: flex;
    justify-content: space-between;
    padding: 29px 0px;
}

.footer-column span{
    font-size: 17px;
    color: white;

}

.footer-column a{
    color: #8A9BB8;
    text-decoration: none;
    font-size: 17px;
}
.footer-column ul{
    list-style: none;
    padding: 0;
}
.footer-column li{
    padding: 0;
    margin: 12px 0px;
}

.footer-legal span{
    font-size: 17px;
    color: white;
}
.footer-legal ul{
    list-style: none;
    padding: 0;
}
.footer-legal li{
    padding: 0;
    margin: 12px 0px;
}
.footer-legal a{
     color: #8A9BB8;
    text-decoration: none;
    font-size: 17px;
}

.footer-line{
    color:  #8A9BB8;
    padding: 1px 6px;
}

/* =====
FOOTER COMPANY */

.footer-company span{
    
    font-size: 17px;
    color: white;
}

.footer-company ul{
    list-style: none;
    padding: 0;
}
.footer-company li{
    padding: 0;
    margin: 11px 0px;

}
.footer-company a{
     color: #8A9BB8;
    text-decoration: none;
    font-size: 17px;
}



/* ======
SOCIAL  */

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #29305F;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;

    transition: 0.3s ease;
}

.social-icon:hover {
    background-color:  #C9A227;
    transform: translateY(-3px);
}
.footer-reserved{
    display: flex;
    justify-content: center;
}
.footer-reserved span{
    font-size: 14px;
    color: #8A9BB8;
}



/* =========================
   FILE INPUT
========================= */


input[type=file]{


    color:rgb(255, 255, 255);

}



/* =========================
   MOBILE RESPONSIVE
========================= */


@media(max-width:768px){


.main-box{


    flex-direction:column;
    padding: 20px;

}


.left-panel,
.right-panel{


    width:100%;


}



.left-panel{


    text-align:center;


}



.right-panel{


    padding:25px;

}



}